<!DOCTYPE html>
<html>
<head>
    <title>Page d'Accueil</title>
</head>
<body>
    <h1>Bienvenue sur la Page d'Accueil</h1>
    <ul>
        <li><a href="{{ url_for('ru1') }}">Requête Ru1</a></li>
        <li><a href="{{ url_for('ru2') }}">Requête Ru2</a></li>
        <li><a href="{{ url_for('ru3') }}">Requête Ru3</a></li>
        <li><a href="{{ url_for('ru6') }}">Requête Ru6</a></li>
        <li><a href="{{ url_for('rda4') }}">Requête Rda4</a></li>
        <li><a href="{{ url_for('rda5') }}">Requête Rda5</a></li>
        <li><a href="{{ url_for('rda6') }}">Requête Rda6</a></li>
        <li><a href="{{ url_for('adminView') }}">Administrator View</a></li>

        <!-- Ajoutez d'autres liens si nécessaire -->
    </ul>
</body>
</html>
